@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
}
.header-style
{
    display: flex;
    padding: 30px;
    justify-content: center;
    background-color: #F2C94C;
}

.container{
    padding: 20px;
}

.btn
{
    background-color: #F2C94C;
    border: none;padding: 20px;
    cursor: pointer;
    width: 100%;
    border: 1px solid olive;
    border-radius: 6px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2C94C;
    text-align: center;
 }
 textarea{
     padding: 20px;
     width: 100%;
     padding-bottom: 70px;
 }